html{
	background: url(http://www.stories.com/Content/ProductContent/0293835001/0293835001_2_100090.jpg);
	border:inset;
}
body{
 background: url(http://cdn.playbuzz.com/cdn/5cf5871e-0b2c-4072-b398-ff140fa26844/a9eaff77-5ef2-44a3-8309-72243e8e06ca.jpg);
}
h1{
	color:pink;
	font-family:courier, monospace;
	border:solid;
	background: yellow;
	text-shadow: 2px;
}
h2{
	color:pink;
	background: blue;
	border:double;
	font:Gadget, sans-serif;
	
}
p1{
	color:black;
	font-family:courier, monospace;
	border:wavy;
	background:white;
}
footer{
	color:green;
}
