header{
	border-bottom:yellow dashed 15px;
	background:red;
}
h1{
	font:Sans Serif, Arial Black;
	color: yellow;
	background: green;
	border-bottom: dashed
}
h2{
}
h3{
}
h2a{
}
h3a{
}
h2b{
}
h3b{
}
p{
	color:blue;
	background:red;
}
p1{
}
p2{
}
p3{
}
p4{
}
}
footer{
}
