html{
	background: url("backgroundimages/woodmain.jpg");
}
h1{
	background:url("backgroundimages/h1wood.jpg");
font-family: 'Engagement', cursive;
}
article{

	border:double pink;
	border-top:solid pink 10px;
	margin-bottom:10px;
	background:url("backgroundimages/articlewood.jpg");
}
h2{
	background:url("backgroundimages/h2.jpg");
	font-family: 'Muli', sans-serif;
}
h3{
font-family: 'Rock Salt', cursive;
	background:url("backgroundimages/h3wood.jpg");
	clear:right;
}
nav{
	width:200px;
	float:left;
	background:url("backgroundimages/navwood.jpg");
}
main{
	margin-left:210px;
}
p{
	background:url("backgroundimages/pwood.jpg");
	margin-right:501px;
}
ul{
	margin-right:600px;
	background:url("backgroundimages/pwood.jpg");
}
img{
	float:right;
}
br{
	clear:right;
}
footer{
	background:url("backgroundimages/navwood.jpg");
}
main > p{
	margin-right:0px;
}
table{
	background:url("backgroundimages/pwood.jpg");
}
